.navbar{
    background-color: #000;
    
  }
  .nav-link{
    color: #fff !important;
  }
  .navbar-brand{
    color: #fff !important;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.login{
    background-color: rgb(81, 123, 201);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-label{
    color: #000 !important;
    font-weight: 700;
    font-size: 24px;
}
.form-control{
    width: 100%;
}