*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgb(45, 44, 44)),url('./images/one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.nav-link{
    color: #fff !important;
    font-weight: 700;
    font-size: 1.25rem;
}
.nav-link:hover{
    color: #000 !important;
}
.navbar-brand{
    color: #fff !important;
    font-weight: 700;
}
.details{
    color: #fff;
    margin-top: 7.75rem;
    text-align: justify;
}
.active{
    color: #000 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}





